:root {
  // --color-primary:
  --color-primary--dark: rgb(82, 26, 197);
  --color-primary--light: rgb(118, 23, 197);
  --color-primary--1: rgb(118, 23, 197);

  --bg-primary: linear-gradient(
    to right,
    var(--color-primary--dark),
    var(--color-primary--light)
  );
}

@font-face {
  font-family: 'iranSans';
  src: url(../fonts/IRANSansWeb.ttf);
}
@font-face {
  font-family: 'fa-brands';
  src: url(../fonts/fa-brands-400.woff2);
  font-weight: 400;
}
@font-face {
  font-family: 'fa-solid';
  src: url(../fonts/fa-solid-900.woff2);
  font-weight: 900;
}
@font-face {
  font-family: 'themify';
  src: url(../fonts/themify.woff);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-weight: 400;
  line-height: 1.8;
  direction: rtl;
  font-family: 'iranSans';
}

img {
  max-width: 100%;
}

.heading-primary {
  font-size: 4rem;
  margin-bottom: 1.4rem;
}
.heading-tritiary {
  font-size: 3rem;
  line-height: 1.4;
  color: rgb(27, 46, 75);
}
